/* Extra small devices (portrait phones, less than 576px)*/
@media (min-width: 0px) and (max-width: 575.98px) {
  /* search start */
  .c_d_menu {
    min-width: 300px;
  }
  .c_d_menu[data-bs-popper] {
    top: 55px;
    left: -20px;
  }
  /* search end */
  /* slider start */
  .s_one {
    margin-top: 100px;
    margin-bottom: 100px;
  }
  .s_one h2 {
    font-size: 27px;
  }
  /* slider end */
  /* service start */
  .t_text p {
    padding-left: 9px;
  }
  .c_h1 {
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 25px;
  }
  /* service end */
  /* about start */
  .about {
    margin-bottom: 80px;
  }
  .a_text {
    margin-top: 30px;
  }
  /* about end */
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  /* search start */
  .c_d_menu[data-bs-popper] {
    top: 55px;
    left: 100px;
  }
  /* search end */
  /* slider start */
  .s_one {
    margin-top: 150px;
    margin-bottom: 150px;
  }
  .s_one h2 {
    font-size: 40px;
  }
  /* slider end */
  /* service start */
  .t_text p {
    padding-left: 9px;
  }
  .c_h1 {
    font-size: 29px;
  }
  /* service end */
  /* about start */
  .about {
    margin-bottom: 100px;
  }
  .a_text {
    margin-top: 30px;
  }
  /* about end */
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  /* search start */
  .c_d_menu[data-bs-popper] {
    top: 55px;
    left: 284px;
  }
  /* search end */
  /* slider start */
  .s_one {
    margin-top: 150px;
    margin-bottom: 150px;
  }
  .s_one h2 {
    font-size: 50px;
  }
  /* slider end */
  /* service start */
  .c_h1 {
    font-size: 29px;
  }
  .t_text p {
    font-family: Roboto-Regular;
    padding-left: 50px;
    padding-right: 60px;
  }
  /* service end */
  /* about start */
  .about {
    margin-bottom: 100px;
  }
  .a_text {
    margin-top: 30px;
  }
  /* about end */
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  /* service start */
  .t_text p {
    padding-left: 16px;
  }
  .c_h1 {
    font-size: 29px;
  }
  /* service end */
  /* about start */
  .pmb {
    padding-top: 16px !important;
    margin-bottom: 25px !important;
  }
  /* about end */
}

/* x-Large devices (larger desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1399.98px) {
}

/* Extra Extra large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
}
