/* Extra small devices (portrait phones, less than 576px)*/
@media (min-width: 0px) and (max-width: 575.98px) {
  /* menubar start */
  .menu ul li {
    margin-right: 0;
    margin-bottom: 15px;
  }
  /* menubar end */
  /* search start */
  .c_d_menu {
    min-width: 300px;
  }
  .c_d_menu[data-bs-popper] {
    top: 55px;
    left: -20px;
  }
  /* search end */
  /* slider start */
  .s_one {
    margin-top: 100px;
    margin-bottom: 100px;
  }
  .s_one h2 {
    font-size: 27px;
  }
  /* slider end */
  /* service start */
  .t_text p {
    padding-left: 9px;
  }
  .c_h1 {
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 25px;
  }
  /* service end */
  /* about start */
  .about {
    margin-bottom: 80px;
  }
  .a_text {
    margin-top: 30px;
  }
  /* about end */
  .work {
    padding-bottom: 40px;
  }
  .tab1 {
    margin-top: 0;
  }
  .s1_img {
    width: 285px;
    height: 304px;
  }
  .c_s1 {
    width: 100%;
    height: 300px;
  }
  .w_icon i {
    margin-top: 28%;
    margin-left: 41%;
  }
  /* my work end */
  /* my nipro start */
  .tab1 {
    margin-left: 0;
  }
  .tab1 ul li {
    margin-right: 0;
    padding: 16px 12px;
  }
  .i_text {
    margin-bottom: 25px;
  }
  .cn_h2 {
    text-align: center !important;
  }
  /* my nipro end */
  /* membar start */
  .all_membar {
    margin-top: 25px;
    margin-bottom: 0;
  }
  .s_membar {
    margin-left: 30px;
  }
  .st_text {
    width: 255px;
    margin-bottom: 50px;
  }
  .team_icon ul {
    top: -332px;
  }
  /* membar end */
  /* pricing start */
  .all_price {
    margin-top: 30px;
    margin-left: 30px;
  }
  .pricing {
    margin-bottom: 0;
  }
  .s_border {
    margin-bottom: 50px;
  }
  /* pricing end */
  /* ad panel start */
  .ad_left {
    margin-top: 70px;
    margin-bottom: 0;
  }
  .ad_right {
    margin-bottom: 70px;
    height: 50px;
    top: 20px;
  }
  .ccp1 {
    transform: rotate(0);
    width: 10%;
    height: 100%;
    top: 0;
    left: 30px;
  }
  .ccn1 {
    transform: rotate(0);
    width: 10%;
    height: 100%;
    top: 0;
    right: 30px;
  }

  /* ad panel end */
  /* contact start */
  .first_area {
    margin-top: 50px;
  }
  .c_form {
    margin-left: 30px;
    width: 80%;
  }
  /* contact end */
  /* footer start */
  .ft_menu {
    float: left;
  }
  .foot_icon ul li {
    margin: 0 !important;
    margin-right: 15px !important;
    margin-bottom: 20px !important;
  }
  .foot_icon ul {
    margin-bottom: 50px;
  }
  .ft_menu ul li {
    margin-right: 30px !important;
    margin-bottom: 15px;
  }
  /* footer end */
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  /* menubar start */
  .menu ul li {
    margin-right: 0;
    margin-bottom: 15px;
  }
  /* menubar end */
  /* search start */
  .c_d_menu[data-bs-popper] {
    top: 55px;
    left: 100px;
  }
  /* search end */
  /* slider start */
  .s_one {
    margin-top: 150px;
    margin-bottom: 150px;
  }
  .s_one h2 {
    font-size: 40px;
  }
  /* slider end */
  /* service start */
  .t_text p {
    padding-left: 9px;
  }
  .c_h1 {
    font-size: 29px;
  }
  /* service end */
  /* about start */
  .about {
    margin-bottom: 100px;
  }
  .a_text {
    margin-top: 30px;
  }
  /* about end */
  .work {
    padding-bottom: 40px;
  }
  .w_icon i {
    margin-top: 25%;
    margin-left: 37%;
  }
  .s1_img {
    width: 250px;
    height: 272px;
  }
  .c_s1 {
    width: 100%;
    height: 272px;
  }
  .tab1 {
    margin-top: 0;
  }
  /* my work end */
  /* my nipro start */
  .tab1 ul li {
    margin-right: 0;
    padding: 16px 12px;
  }
  .i_text {
    margin-bottom: 25px;
  }
  .cn_h2 {
    text-align: center !important;
  }
  /* my nipro end */
  /* membar start */
  .all_membar {
    margin-top: 25px;
    margin-bottom: 0;
  }
  .st_text {
    width: 246px;
    margin-bottom: 50px;
  }
  /* membar end */
  /* pricing start */
  .all_price {
    margin-top: 30px;
  }
  .pricing {
    margin-bottom: 30px;
  }
  .s_border {
    margin-bottom: 50px;
  }
  /* pricing end */
  /* ad panel start */
  .ad_left {
    margin-top: 80px;
    margin-bottom: 0;
  }
  .ad_right {
    height: 50px;
    top: 20px;
    margin-bottom: 80px;
  }
  .ccp1 {
    transform: rotate(0);
    width: 10%;
    height: 100%;
    top: 0;
    left: 50px;
  }
  .ccn1 {
    transform: rotate(0);
    width: 10%;
    height: 100%;
    top: 0;
    right: 50px;
  }

  /* ad panel end */
  /* contact us start */
  .c_head h1 {
    margin-left: 140px;
  }
  .first_area {
    margin-top: 70px;
  }
  .c_form {
    margin-left: 30px;
    width: 85%;
  }
  /* contact us end */
  /* footer start */
  .ft_menu {
    float: left;
  }
  .ft_menu ul li {
    margin-right: 30px !important;
  }
  /* footer end */
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  /* menubar start */
  .menu ul li {
    margin-right: 0;
    margin-bottom: 15px;
  }
  /* menubar end */
  /* search start */
  .c_d_menu[data-bs-popper] {
    top: 55px;
    left: 284px;
  }
  /* search end */
  /* slider start */
  .s_one {
    margin-top: 150px;
    margin-bottom: 150px;
  }
  .s_one h2 {
    font-size: 50px;
  }
  /* slider end */
  /* service start */
  .c_h1 {
    font-size: 29px;
  }
  .t_text p {
    font-family: Roboto-Regular;
    padding-left: 50px;
    padding-right: 60px;
  }
  /* service end */
  /* about start */
  .about {
    margin-bottom: 100px;
  }
  .a_text {
    margin-top: 30px;
  }
  /* about end */
  /* my work start */
  .work {
    padding-bottom: 40px;
  }
  .s1_img {
    width: 300px;
    height: 327px;
  }
  .c_s1 {
    width: 100%;
    height: 327px;
  }
  /* my work end */
  /* my nipro start */
  .tab1 {
    margin-left: 102px;
    margin-top: 0;
  }
  .tab1 ul li {
    margin-right: 0;
    padding: 16px 12px;
  }
  .i_text {
    margin-bottom: 25px;
  }
  .cn_h2 {
    text-align: center !important;
  }
  .l_arrow {
    width: 90%;
  }
  /* my nipro end */
  /* membar start */
  .all_membar {
    margin-top: 25px;
    margin-bottom: 0;
  }
  .st_text {
    margin-bottom: 50px;
  }
  /* membar end */
  /* pricing start */
  .pricing {
    margin-bottom: 50px;
  }
  .s_border {
    margin-bottom: 50px;
  }
  .s_border {
    width: 275px;
  }
  /* pricing end */
  /* ad panel start */
  .ad_left {
    margin-top: 80px;
    margin-bottom: 80px;
  }
  .ad_right {
    height: 635px;
    top: 80px;
  }
  .ccp1 {
    top: 100px;
  }
  .ccn1 {
    top: 470px;
  }
  /* ad panel end */
  /* contact us start */
  .c_head h1 {
    margin-left: 220px;
  }
  .first_area {
    margin-top: 70px;
  }
  /* contact us end */
  /* footer start */
  .ft_menu ul li {
    margin-right: 30px !important;
  }
  /* footer end */
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  /* service start */
  .t_text p {
    padding-left: 16px;
  }
  .c_h1 {
    font-size: 29px;
  }
  /* service end */
  /* about start */
  .pmb {
    padding-top: 16px !important;
    margin-bottom: 25px !important;
  }
  /* about end */
  /* portfolio start */
  .tab1 {
    margin-left: 180px;
    margin-top: 0px;
  }
  /* portfolio end */
  /* my work start */
  .s1_img {
    width: 300px;
    height: 327px;
  }
  .c_s1 {
    width: 100%;
    height: 327px;
  }
  /* my work end */
  /* why nipro start */
  .i_text {
    margin-left: 12px;
  }

  /* why nipro end */
  /* membar start */
  .st_text {
    width: 216px;
  }
  /* membar end */
  /* pricing start */
  .s_border {
    width: 227px;
  }
  /* pricing end */
  /* ad panel start */
  .ad_right {
    height: 375px;
  }
  /* ad panel end */
}

/* x-Large devices (larger desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1399.98px) {
}

/* Extra Extra large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
  /* my work start */
  .tab1 {
    margin-left: 380px;
  }
  /* my work end */
  .l_arrow {
    width: 84%;
  }
  /* pricing start */
  .s_border {
    width: 270px;
  }
  /* pricing end */
}
